<a href="https://colab.research.google.com/github/wildfly8/AI_ImageRecog/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

# load the data into a pandas data frame
tree_df = pd.read_csv('https://data.cityofnewyork.us/api/views/uvpi-gqnh/rows.csv?accessType=DOWNLOAD')

# print the first few rows of the data frame
print(tree_df.head())

   tree_id  block_id  created_at  tree_dbh  stump_diam curb_loc status health  \
0   180683    348711  08/27/2015         3           0   OnCurb  Alive   Fair
1   200540    315986  09/03/2015        21           0   OnCurb  Alive   Fair
2   204026    218365  09/05/2015         3           0   OnCurb  Alive   Good
3   204337    217969  09/05/2015        10           0   OnCurb  Alive   Good
4   189565    223043  08/30/2015        21           0   OnCurb  Alive   Good

                            spc_latin       spc_common  ...  boro_ct  \
0                         Acer rubrum        red maple  ...  4073900
1                   Quercus palustris          pin oak  ...  4097300
2  Gleditsia triacanthos var. inermis      honeylocust  ...  3044900
3  Gleditsia triacanthos var. inermis      honeylocust  ...  3044900
4                     Tilia americana  American linden  ...  3016500

      state   latitude  longitude         x_sp         y_sp council district  \
0  New York  40.723092 -73.844215  1027431.148  202756.7687             29.0
1  New York  40.794111 -73.818679  1034455.701  228644.8374             19.0
2  New York  40.717581 -73.936608  1001822.831  200716.8913             34.0
3  New York  40.713537 -73.934456  1002420.358  199244.2531             34.0
4  New York  40.666778 -73.975979   990913.775  182202.4260             39.0

  census tract        bin           bbl
0        739.0  4052307.0  4.022210e+09
1        973.0  4101931.0  4.044750e+09
2        449.0  3338310.0  3.028870e+09
3        449.0  3338342.0  3.029250e+09
4        165.0  3025654.0  3.010850e+09

[5 rows x 45 columns]

In [34]:
# select rows where the 'stump_diam' column is NaN and the 'boroname' column is 'Manhattan'
# and the 'latitude' column is less than or equal to 40.764204
tree_no_stumps_lower_man_df = tree_df[(tree_df['stump_diam'] == 0) & (tree_df['borough'] == 'Manhattan') & (tree_df['latitude'] <= 40.764204)]

# display the resulting data frame
print(tree_no_stumps_lower_man_df)

        tree_id  block_id  created_at  tree_dbh  stump_diam curb_loc status  \
7        208649    103940  09/07/2015         9           0   OnCurb  Alive
28       201555    102919  09/04/2015         9           0   OnCurb  Alive
43       178382    106001  08/26/2015        12           0   OnCurb  Alive
46       191988    102326  08/31/2015         6           0   OnCurb  Alive
63       198121    104405  09/02/2015         8           0   OnCurb  Alive
...         ...       ...         ...       ...         ...      ...    ...
683750   194253    102855  09/01/2015         3           0   OnCurb  Alive
683756   208765    107164  09/08/2015        11           0   OnCurb  Alive
683764   170513    100329  08/24/2015         9           0   OnCurb  Alive
683773   191269    105425  08/31/2015        12           0   OnCurb  Alive
683775   192812    102227  08/31/2015         5           0   OnCurb  Alive

       health                           spc_latin        spc_common  ...  \
7        Good                     Tilia americana   American linden  ...
28       Good  Gleditsia triacanthos var. inermis       honeylocust  ...
43       Fair               Platanus x acerifolia  London planetree  ...
46       Good                     Quercus phellos        willow oak  ...
63       Fair                   Quercus palustris           pin oak  ...
...       ...                                 ...               ...  ...
683750   Good               Platanus x acerifolia  London planetree  ...
683756   Good  Gleditsia triacanthos var. inermis       honeylocust  ...
683764   Good  Gleditsia triacanthos var. inermis       honeylocust  ...
683773   Good                       Ginkgo biloba            ginkgo  ...
683775   Good                   Quercus palustris           pin oak  ...

        boro_ct     state   latitude  longitude         x_sp         y_sp  \
7       1012700  New York  40.762724 -73.987297  987769.1163  217157.8561
28      1003601  New York  40.721807 -73.989830  987069.0888  202250.6142
43      1006000  New York  40.733716 -73.977058  990608.2583  206590.1223
46      1004900  New York  40.726640 -73.999368  984425.0721  204010.9460
63      1007200  New York  40.745034 -73.982530  989090.7833  210713.0940
...         ...       ...        ...        ...          ...          ...
683750  1002201  New York  40.720014 -73.982586  989077.1691  201597.7015
683756  1011000  New York  40.763224 -73.960984  995058.2162  217342.1992
683764  1031704  New York  40.707884 -74.017598  979370.9566  197178.3833
683773  1006800  New York  40.739270 -73.983960  988694.9580  208613.1475
683775  1007700  New York  40.739913 -74.004892  982894.2232  208847.0571

       council district census tract        bin           bbl
7                   3.0        133.0  1086093.0  1.010410e+09
28                  1.0       3601.0  1077637.0  1.004160e+09
43                  4.0         44.0  1082859.0  1.009720e+09
46                  1.0         49.0  1008011.0  1.005150e+09
63                  2.0         72.0  1018347.0  1.008860e+09
...                 ...          ...        ...           ...
683750              2.0       2201.0  1000000.0  1.003458e+09
683756              5.0        118.0  1044692.0  1.014390e+09
683764              1.0      31704.0  1075698.0  1.000168e+09
683773              2.0         68.0  1018045.0  1.008790e+09
683775              3.0         77.0  1011692.0  1.006298e+09

[23508 rows x 45 columns]

In [35]:
num_trees = len(tree_no_stumps_lower_man_df)
print(num_trees)

23508

In [39]:
# Create a subset of non-stump trees in lower Manhattan
lower_man_trees = tree_no_stumps_lower_man_df['tree_dbh']

# Take a random sample of size 500
my_sample = np.random.choice(lower_man_trees, size=500, replace=False)

# Calculate the sample mean
sample_mean = np.mean(my_sample)

# Calculate the sample standard deviation using numpy's std function with ddof=1 for Bessel's correction
sample_std = np.std(my_sample, ddof=1)

# Print out the results
print("Sample Mean: ", sample_mean)
print("Sample Standard Deviation: ", sample_std)

Sample Mean:  8.228
Sample Standard Deviation:  4.348544086397502

In [40]:
CI_level = 0.90 # this will be a 90% confidence interval
n=500
df = n - 1
alpha = 1 - CI_level
alpha_2 = alpha / 2

In [49]:
t_alpha_2 = stats.t.interval(1 - alpha, df, 0, 1)[1]
print(t_alpha_2)

1.647912984059706

In [57]:
print(round(stats.t.cdf(-t_alpha_2, df), 2) == round(alpha_2, 2))

True

In [64]:
lower_bound = sample_mean - t_alpha_2 * (sample_std / np.sqrt(n))
upper_bound = sample_mean + t_alpha_2 * (sample_std / np.sqrt(n))
print(f"The {CI_level * 100}% confidence interval on the population mean is ({lower_bound}, {upper_bound}).")

The 90.0% confidence interval on the population mean is (7.907525741889876, 8.548474258110124).

In [65]:
print(stats.t.interval(CI_level, n - 1, sample_mean, sample_std / np.sqrt(n)))

(7.907525741889876, 8.548474258110124)

In [72]:
pop_mean = np.mean(lower_man_trees)
print(pop_mean)

8.119874085417731